In [1]:
tu=(23,'abc',4.56,(2,3),'def')

In [3]:
tu

(23, 'abc', 4.56, (2, 3), 'def')

In [2]:
li=["abc",34,4.34,23]

In [4]:
li

['abc', 34, 4.34, 23]

In [5]:
st="Hello World"

In [6]:
st

'Hello World'

In [7]:
st='Hello World'

In [8]:
st

'Hello World'

In [15]:
st ="""This is a multi-line string that uses triple quotes."""

In [16]:
st

'This is a multi-line string that uses triple quotes.'

In [18]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [19]:
tu[1]

'abc'

In [20]:
li[1]

34

In [22]:
st='Hello World'

In [23]:
st[1]

'e'

In [24]:
t= (23, 'abc', 4.56, (2,3), 'def')

In [25]:
t[1]

'abc'

In [26]:
t[-3]

4.56

In [27]:
t[-1]

'def'

In [28]:
t[1:4]

('abc', 4.56, (2, 3))

In [29]:
t[1:-1]

('abc', 4.56, (2, 3))

In [30]:
t[1:-1:2]

('abc', (2, 3))

In [31]:
t[:2]

(23, 'abc')

In [32]:
t[2:]

(4.56, (2, 3), 'def')

In [33]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [34]:
t=[1,2,4,5]

In [35]:
3in t

False

In [36]:
4in t

True

In [37]:
4not in t

False

In [38]:
a='abcde'

In [39]:
'c'in a

True

In [40]:
'cd' in a

True

In [41]:
'ac' in a

False

In [42]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [43]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [44]:
"Hello" + " " + "World"

'Hello World'